// color
// pink
$color-pink-pink: #ffc0cb;
$color-pink-lightPink: #ffb6c1;
$color-pink-hotPink: #ff69b4;
$color-pink-DeepPink: #ff1493;
$color-pink-PaleVioletRed: #db7093;
$color-pink-MediumVioletRed: #c71585;
// purple
$color-purple-Lavender: #e6e6fa;
$color-purple-Thistle: #d8bfd8;
$color-purple-Plum: #dda0dd;
$color-purple-Orchid: #da70d6;
$color-purple-Violet: #ee82ee;
$color-purple-Fuchsia-Magenta: #ff00ff;
$color-purple-MediumOrchid: #ba55d3;
$color-purple-DarkOrchid: #9932cc;
$color-purple-DarkViolet: #9400d3;
$color-purple-BlueViolet: #8a2be2;
$color-purple-DarkMagenta: #8b008b;
$color-purple-Purple: #800080;
$color-purple-MediumPurple: #9370db;
$color-purple-MediumSlateBlue: #7b68ee;
$color-purple-SlateBlue: #6a5acd;
$color-purple-DarkSlateBlue: #483d8b;
$color-purple-RebeccaPurple: #663399;
$color-purple-Indigo: #4b0082;
// red
$color-red-LightSalmon: #ffa07a;
$color-red-Salmon: #fa8072;
$color-red-DarkSalmon: #e9967a;
$color-red-LightCoral: #f08080;
$color-red-IndianRed: #cd5c5c;
$color-red-Crimson: #dc143c;
$color-red-Red: #ff0000;
$color-red-FireBrick: #b22222;
$color-red-DarkRed: #8b0000;
// Orange
$color-orange-Orange: #ffa500;
$color-orange-DarkOrange: #ff8c00;
$color-orange-Coral: #ff7f50;
$color-orange-Tomato: #ff6347;
$color-orange-OrangeRed: #ff4500;
// Yellow
$color-yellow-Gold: #ffd700;
$color-yellow-Yellow: #ffff00;
$color-yellow-LightYellow: #ffffe0;
$color-yellow-LemonChiffon: #fffacd;
$color-yellow-LightGoldenRodYellow: #fafad2;
$color-yellow-PapayaWhip: #ffefd5;
$color-yellow-Moccasin: #ffe4b5;
$color-yellow-PeachPuff: #ffdab9;
$color-yellow-PaleGoldenRod: #eee8aa;
$color-yellow-Khaki: #f0e68c;
$color-yellow-DarkKhaki: #bdb76b;
// Green
$color-green-GreenYellow: #adff2f;
$color-green-Chartreuse: #7fff00;
$color-green-LawnGreen: #7cfc00;
$color-green-Lime: #00ff00;
$color-green-LimeGreen: #32cd32;
$color-green-PaleGreen: #98fb98;
$color-green-LightGreen: #90ee90;
$color-green-MediumSpringGreen: #00fa9a;
$color-green-SpringGreen: #00ff7f;
$color-green-MediumSeaGreen: #3cb371;
$color-green-SeaGreen: #2e8b57;
$color-green-ForestGreen: #228b22;
$color-green-Green: #008000;
$color-green-DarkGreen: #006400;
$color-green-YellowGreen: #9acd32;
$color-green-OliveDrab: #6b8e23;
$color-green-DarkOliveGreen: #556b2f;
$color-green-MediumAquaMarine: #66cdaa;
$color-green-DarkSeaGreen: #8fbc8f;
$color-green-LightSeaGreen: #20b2aa;
$color-green-DarkCyan: #008b8b;
$color-green-Teal: #008080;
// Xanh Cyan
$color-cyan-Aqua: #00ffff;
$color-cyan-Cyan: #00ffff;
$color-cyan-LightCyan: #e0ffff;
$color-cyan-PaleTurquoise: #afeeee;
$color-cyan-Aquamarine: #7fffd4;
$color-cyan-Turquoise: #40e0d0;
$color-cyan-MediumTurquoise: #48d1cc;
$color-cyan-DarkTurquoise: #00ced1;
// Blue
$color-blue-CadetBlue: #5f9ea0;
$color-blue-SteelBlue: #4682b4;
$color-blue-LightSteelBlue: #b0c4de;
$color-blue-LightBlue: #add8e6;
$color-blue-PowderBlue: #b0e0e6;
$color-blue-LightSkyBlue: #87cefa;
$color-blue-SkyBlue: #87ceeb;
$color-blue-CornflowerBlue: #6495ed;
$color-blue-DeepSkyBlue: #00bfff;
$color-blue-DodgerBlue: #1e90ff;
$color-blue-RoyalBlue: #4169e1;
$color-blue-Blue: #0000ff;
$color-blue-MediumBlue: #0000cd;
$color-blue-DarkBlue: #00008b;
$color-blue-Navy: #000080;
$color-blue-MidnightBlue: #191970;
// Brown
$color-brown-Cornsilk: #fff8dc;
$color-brown-BlanchedAlmond: #ffebcd;
$color-brown-Bisque: #ffe4c4;
$color-brown-NavajoWhite: #ffdead;
$color-brown-Wheat: #f5deb3;
$color-brown-BurlyWood: #deb887;
$color-brown-Tan: #d2b48c;
$color-brown-RosyBrown: #bc8f8f;
$color-brown-SandyBrown: #f4a460;
$color-brown-GoldenRod: #daa520;
$color-brown-DarkGoldenRod: #b8860b;
$color-brown-Peru: #cd853f;
$color-brown-Chocolate: #d2691e;
$color-brown-Olive: #808000;
$color-brown-SaddleBrown: #8b4513;
$color-brown-Sienna: #a0522d;
$color-brown-Brown: #a52a2a;
$color-brown-Maroon: #800000;
// White
$color-white-White: #ffffff;
$color-white-Snow: #fffafa;
$color-white-HoneyDew: #f0fff0;
$color-white-MintCream: #f5fffa;
$color-white-Azure: #f0ffff;
$color-white-AliceBlue: #f0f8ff;
$color-white-GhostWhite: #f8f8ff;
$color-white-WhiteSmoke: #f5f5f5;
$color-white-SeaShell: #fff5ee;
$color-white-Beige: #f5f5dc;
$color-white-OldLace: #fdf5e6;
$color-white-FloralWhite: #fffaf0;
$color-white-Ivory: #fffff0;
$color-white-AntiqueWhite: #faebd7;
$color-white-Linen: #faf0e6;
$color-white-LavenderBlush: #fff0f5;
$color-white-MistyRose: #ffe4e1;
// Grey
$color-grey-Gainsboro: #dcdcdc;
$color-grey-LightGray: #d3d3d3;
$color-grey-Silver: #c0c0c0;
$color-grey-DarkGray: #a9a9a9;
$color-grey-DimGray: #696969;
$color-grey-Gray: #808080;
$color-grey-LightSlateGray: #778899;
$color-grey-SlateGray: #708090;
$color-grey-DarkSlateGray: #2f4f4f;
$color-grey-Black: #000000;

// font size

$fs-1: 0.625em; //10px
$fs-2: 0.9375em;//15px
$fs-3: 1.25em;//20px
$fs-4: 1.5625em;//25px
$fs-5: 1.875em;//30px
$fs-6: 2.1875em;//35px
//
$fs-7: 2.5em;//40px
$fs-8: 2.8125em;//45px
$fs-9: 3.125em;//50px
//
$fs-10: 3.75em;//
$fs-11: 4.375em;//70px
$fs-12: 5em;//80px
//
$fs-13: 5.625em;//90px
$fs-14: 6.25em;//100px
//
$fs-15: 6.875em;//110px
$fs-16: 7.1875em;//115px
$fs-17: 7.5em;//120px
$fs-18: 7.8125em;//125px

// font weight
$fw-1:100;
$fw-1:200;
$fw-1:300;
$fw-1:400;
$fw-1:500;
$fw-1:600;
$fw-1:700;
$fw-1:800;
$fw-1:900;

